@import "tailwindcss";

@theme {
  --color-primary: #183b4e;
  --color-secondary: #27548a;
  --font-rubik: var(--font-rubik);
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --custom-margin: 48px;
  --custom-margin-mobile: 20px;
}

@layer base {
  html {
    font-size: 12px;
  }

  body {
    font-family: var(--font-inter);
  }

  h3,
  header {
    font-family: var(--font-rubik);
  }
}

@layer utilities {
  .padding-t {
    padding-top: var(--custom-margin-mobile);
  }

  .padding-x {
    padding-left: var(--custom-margin-mobile);
    padding-right: var(--custom-margin-mobile);
  }

  @variant md {
    .padding-t {
      padding-top: var(--custom-margin);
    }

    .padding-x {
      padding-left: var(--custom-margin);
      padding-right: var(--custom-margin);
    }
  }

  @variant print {
    .padding-t {
      padding-top: var(--custom-margin);
    }

    .padding-x {
      padding-left: var(--custom-margin);
      padding-right: var(--custom-margin);
    }
  }
}

@layer components {
  .section-title {
    @apply font-rubik text-xl font-medium text-primary border-b-3 uppercase;
  }

  .section-h1 {
    @apply font-rubik text-xl text-secondary mt-2;
  }

  .section-h2 {
    @apply text-lg font-bold;
  }

  .section-mt {
    @apply mt-6;
  }
}

/* global styles for print layout */
@media print {
  html,
  body {
    margin: 0 !important; /* Remove margins in print */
    padding: 0 !important; /* Remove paddings */
    width: 100%;
    height: 100%;
  }

  @page {
    margin: 0; /* Full-width print */
  }

  .print\:shadow-none {
    box-shadow: none !important;
  }

  .print\:p-0 {
    padding: 0 !important;
  }

  .print\:w-full {
    width: 100% !important;
  }

  .avoid-break {
    page-break-inside: avoid;
  }
}
